body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#navbar
{
    color: chartreuse;
    background-color: black;
}

#usertable{
    width: 40%;
}

#lms{
    display: flex;
    align-items: center;
}
.navbar-nav{
    color:black;
    display:inline-flexbox
    
}

