/* index.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#app {
    height: calc(100vh - 70px);
}

#content {
    overflow-y: auto;
}

.card {
    border: none;
    background-color: #e9f5e9;
}

.card-title {
    color: #28a745;
}

.table th, .table td {
    color: #343a40;
}

.table th {
    background-color: #d4edda;
}

.table td {
    background-color: #e9f5e9;
}

.btn-light {
    color: #28a745;
    background-color: #ffffff;
    border-color: #28a745;
}

.btn-light:hover {
    background-color: #d4edda;
}

h2 {
    border-bottom: 2px solid #28a745;
    padding-bottom: 10px;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    width: 100%;
}
