


#usertable{
    width: 40%;
}

#lms{
  text-align: center;
}


   
    

.custom-color{
    color:#008080
}

.lms{
    color:#008080 ;
    font-weight: 1200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}




