/* login.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay color */
}

.card {
    border: none;
    border-radius: 15px;
}

.card-body {
    padding: 30px;
}

.form-control {
    border-radius: 10px;
}

.btn-primary {
    background-color: #d33500; /* Custom primary color */
    border: none;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #cb4a1f; /* Darker shade of primary color on hover */
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(106, 176, 76, 0.5); /* Focus shadow color */
}
